<!DOCTYPE html>
html
  head
    title Voting App

    link(href='bootstrap.min.css', rel='stylesheet')
    link(href="style.css", rel='stylesheet')

  body
    div.container.login-page
      div.row
        div.col-xs-6
          form.form-login(method="post" action="")
            h2.form-login-heading Please Login To Continue
            label.sr-only(for="inputEmail") Email Address
            input.form-control#inputEmail(name="email" placeholder="Email address" type="email" required autofocus)

            label.sr-only(for="inputPassword") Password
            input.form-control#inputPassword(name="password" placeholder="Password" type="password" required)

            if locals.errorMsg
              span.validationError #{errorMsg}
            button.btn.btn-lg.btn-primary.btn-block(type="submit") Log In
