<!DOCTYPE html>
html
  head
    title Voting App
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href="style.css", rel='stylesheet')

  body
    nav.navbar.navbar-default.navbar-fixed-top
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href="/") Voting App
        ul.nav.navbar-nav
          li.active: a(href="/") Home
        if locals.user
          ul.nav.navbar-nav.navbar-right
            li: a(href="/logout") Logout
        else
          ul.nav.navbar-nav.navbar-right
            li: a(href="/login") Login


    div.polls-container.container
      div.jumbotron
        h1 FCC Polls
        p.lead Below are FCC Polls created by You's.
        ul.polls-list.list-group
          each poll in polls
            li.list-group-item
              a.poll_link(href="/poll/#{poll._id}") #{poll.question}
              // TODO: Poll modification
                form(action="/modifypoll" method="post")
                input(type="hidden" name="pollId" value="#{poll._id}")
                button.button.btn.btn-warning Modify
              form(action="/deletepoll" method="post")
                input(type="hidden" name="pollId" value="#{poll._id}")
                button.button.btn.btn-danger Delete
