<!DOCTYPE html>
html
  head
    title Voting App

    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href="style.css", rel='stylesheet')

    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="new_poll.js")

  body
    nav.navbar.navbar-default.navbar-fixed-top
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href="/") Voting App
        ul.nav.navbar-nav
          li.active: a(href="/") Home
        ul.nav.navbar-nav.navbar-right
          li: a(href="/logout") Logout


    div.container
      div.col-md-offset-2.col-md-8
        div.jumbotron
          h2 Make a new Poll!!

          if locals.success
            div.alert.alert-success.alert-dismissable
              a.close(href="#" data-dismiss="alert" aria-label="close") &times;
              strong Success!&nbsp;
              span Poll created successfully

          if locals.error
            each val, key in error
              div.alert.alert-danger.alert-dismissable
                a.close(href="#" data-dismiss="alert" aria-label="close") &times;
                strong Error!&nbsp;
                span !{val}

          div.form-body
            form(method="post" action="")
              div.form-group
                label(for="question") Question:
                input.form-control#question(name="question" type="text" required)

              div.form-group
                label Choices:
              div

              div.choice-list
                div.choice.row
                  div.col-xs-8
                    input.form-control#choice1(name="choice1" type="text" required)
                  div.col-xs-2
                    button.btn.btn-success.add-btn(type="button") +
                    button.btn.btn-danger.remove-btn.hidden(type="button") -

              button.btn.btn-primary(type="submit") Submit
