* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
  background-color: white;
}

.head-jumbo {
  background-color: #4099FF;
}

.heading {
  padding-top: 50px;
  text-align: center;
  color: white;
}

.heading > h2 {
  font-size: 46px;
}

.heading-button {
  width: 100px;
  margin: 0px 3px;
}

.polls-container {
  margin-top: 100px;
  text-align: center;
}

@media (max-width: 767px) {
  .polls-container {
    margin-top: 200px;
  }
}

.list-group-item:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}

.single-poll-container {
  margin-top: 75px;
}

.single-poll-container > .jumbotron {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .single-poll-container {
    margin-top: 200px;
  }
}

.twitter-btn {
  background-color: #4099FF;
  margin-top: 10px;
  text-decoration: none;
  color: white;
}

.poll_link, .poll_link:hover {
    text-decoration: none;
    color: inherit;
}

.login-page {
  background-color: beige;
}

.login-page *{
  margin: 5px 5px;
}
